@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox" id="liste-carousels"></div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="row" id="liste-aperos"></div>

<hr />

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>


@section Scripts {
    <script>

        //$('a[data-toggle="tooltip"]').tooltip({
        //    animated: 'fade',
        //    placement: 'bottom',
        //    html: true
        //});

        //<a data-toggle="tooltip" title="<img src='http://getbootstrap.com/apple-touch-icon.png'/>" >
        //    ${apero.organisateurNom}
        //</a>

        // On demande données au serveur
        $.get("/api/Aperos", function (data) {
            //console.log(data);
            $("#liste-aperos").empty();

            for (var apero of data) {

                let invites = apero.isFull ?
                    '<a href="#" class="btn btn-primary disabled" role="button">Complet</a>'
                    : '<a href="#" class="btn btn-primary" role="button">S\'inviter</a>';


                $("#liste-aperos").append($(`
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">

                                <img src="/images/photos/${apero.image}" alt="${apero.altImage}" class = "img-overflow" />

                                <div class="caption">
                                    <h3>${apero.title}</h3>
                                    <p>${apero.description}</p>
                                    <p>
                                        Organisé par :
                                        <img src="/images/avatar/${apero.OrganizerImage}" alt="" width = 50px />
                                        ${apero.OrganizerName}   
                                    </p>
                                    <div class="infoSup">
                                        <p>Participation : ${apero.price} €</p>
                                        <p>Nombre de participants : ${apero.guestNumber} / ${apero.maxGestNumber}</p>
                                    </div>
                                    <div class="boutons">
                                        <p>
                                            ${invites}
                                            <a href="#" class="btn btn-default" role="button">Plus..</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `));
            }

        });


        $.get("/js/liste-carousels.json", function (data) {
            $("#liste-carousels").empty();

            for (var carousel of data) {

                $("#liste-carousels").append($(
                    `<div class="item">
                            <img src="/images/banniere/${carousel.image}" alt="" class="img-responsive" />
                            <div class="carousel-caption" role="option">
                                <p>
                                    ${carousel.titre}
                                    <a class="btn btn-default" href="#">Plus...</a>
                                </p>
                            </div>
                        </div>
                    `));
            }

            $("#liste-carousels .item:first-child").addClass("active");
        });

    </script>
}