
@{
    ViewData["Title"] = "ProfilUtilisateur";
}

<div class="row" id="list-users"></div>


@section Scripts {
    <script>

        // On demande données au serveur
        $.get("/api/Users", function (data) {
            //console.log(data);
            $("#list-users").empty();

            for (var user of data) {

                $("#list-users").append($(`
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="/images/avatar/${user.image}" alt="" />
                            <div class="caption text-center">
                                <h3>${user.prenom} ${user.nom}</h3>
                                <p>${user.lieu}</p>
                            </div>
                        </div>
                    </div>
                `));
            }

        });


    </script>
}
